<a href="https://colab.research.google.com/github/Diogolcs/AnimaCursoExtesaoPythonPandas2023-2/blob/main/Primeiro_exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**
Autor: Diogo Lacerda Silva
Data: 06/02/2023

In [ ]:
print("Hello Word!")

Hello Word!

In [ ]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
# Usa o print para ver o dataframe!
print(combustiveis_df)

In [ ]:
display(combustiveis_df)

In [ ]:
#Exibe as primeiras 5 linhas
display(combustiveis_df.head())

In [ ]:
# Comandos Dataframe.shape() E Dataframe.shape()
print(combustiveis_df.shape[1])
#mostra o número de 'linhas' e 'colunas'

In [ ]:
#Mostra as estatítiscas básicas
print(combustiveis_df.describe())

In [20]:
#Quais são as colunas e que tipo de dados cada um tem...
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [13]:
#filtrar apenas por uma coluna
display(combustiveis_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [ ]:
#Aqui criamos um novo dataframe apenas com as colunas que eu quero..
ca_df = combustiveis_df[['Revenda','Municipio','Valor de Compra','Produto']]
display(ca_df)

In [ ]:
#Exibe a 4° Linha
display(ca_df.loc[3:3])

In [ ]:
#Exibe da 4° Linha até a 6°
display(ca_df.loc[9:19])

In [ ]:
#Criar um dataframe gas_df contendo apenas 4 colunas (Revenda, Municipio, Produto, Valor de Venda) -  Somente GASOLINA
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

display(gas_df['Valor de Venda','Municipio','Revenda'].max())